<div id="content" mat-dialog-content>
  <div class="author">
    <div class="text">
      <h1>About Me</h1>
      Dear Friends and Supporters, <br /><br />
      <img src="./images/harry2.png" alt="" width="120" />
      For those of you who are coming to my website for the very first time or are just curious,
      I thought I would tell you a little bit about myself.<br /><br />
      One of the first places people go to learn about other people is LinkedIn. But, if you have
      gone there to learn about me, I’m sorry to say that the most you will find is a Seattle-based
      profile called “Technology for Social Good.”<br /><br />
      Why did I call it that?<br /><br />
      Because over the past few decades I have observed how technology has advanced at an ever-increasing rate,
      often bringing the world more harm than good. As anyone can see, our society is deeply unequal.
      According to a 2019 report by the Credit Suisse Research Institute, only 1% of the world’s population
      currently holds over 44% of household wealth. Clearly, something is wrong in the existing economic “model.”
      <a href="https://en.wikipedia.org/wiki/Wealth_inequality_in_the_United_States" target="_blank" style="float: none;padding:0px;">https://en.wikipedia.org/wiki/Wealth_inequality_in_the_United_States</a>
      <br /><br />
      What is it, though? It’s not that capitalism is in itself wrong, but rather, that our technology
      and the current form of the market that propels it have both become disconnected from society.
      <br /><br />
      So, I decided that I want to do something about that, on both fronts!
      <br /><br />
      When I first came to North America in the early 1970s, I did so to escape the bloodshed and horror
      of the Vietnam War. My family remained behind in Vietnam. So I went looking for a career that would
      give me the best financial position possible so that I could help them escape the communist regime
      and join me here in North America.
      <br /><br />
      Even back then, it was obvious that working in the field of computer technology would provide me the
      best possibility to live a rewarding and happy life. Along the way, however, I found that I had
      instead ended up as a chef.
      <br /><br />
      With some culinary knowledge that I had learned from my uncle, a master chef on a French sea liner,
      I got a job working for the largest restaurant in Montreal. With the income I was earning as a chef,
      I was able to enroll in an 18-month intensive training course offered by Control Data Corporation,
      the company that built the leading mainframe supercomputers at that time. Eventually, Control Data
      broke up and became Gray Computer, an enterprise that similarly dominated the supercomputer market.
      Gray Computer is currently part of Hewlett-Packard Enterprises.
      <br /><br />
      After graduating from Control Data in 1977, I worked for a company in Ottawa that sent me to their
      Saudi Arabian computer center for that country’s Ministry of Planning. After that job was finished,
      I joined a British startup, a turnkey project management system, which sent me to Singapore in 1981
      as well as numerous other countries. This in turn allowed me to learn about the foods and lifestyles
      of cultures all over the planet, including  Indonesia, Lebanon, Korea, France, Hong Kong, Germany,
      and Malaysia.
      <br /><br />
      My career strategy was successful, and I was able to help my family to move to California near my place
      in Orange County in 1985. I had an idea at that time to start an Asian-style organic farm, but the
      North American weather was not nearly as predictable as in Vietnam. So I started making other plans.
      <br /><br />
      <img src="./images/harry3.png" alt="" width="120" style=" float: left; margin: 0px; margin-right: 10px;" />
      I then moved to Las Vegas with the intention of exploring the culture and the people there, specifically
      the uniquely North American behavior that prevails in that kind of gambling and money-centered environment.
      The pleasure and excitement of it all fascinated me, especially the way the marketing and the morality of
      the people was affected by the industry. Gambling never interests me, as I view it as a waste of time and
      simply a way to burn money; I was always working on something else!
      <br /><br />
      Soon enough, I was making my own contribution to modern Las Vegas, inventing and implementing an in-ride
      entertainment system for the local taxicab market called “CaptivAds” in 1998, which was adopted by over 600 cars.
      Excited by my success, which was featured on the Las Vegas news and inspired inquiries from all over the world,
      I started to think up further inventions, including some that I knew right away could change the world for the better.
      <br /><br />
      For example, I studied the effect on humans of providing incentives and rewards to discourage or excite
      human desire and activity. Why is human behavior changed through incentive and reward systems, and what
      positive developments could this allow for?
      <br /><br />
      Basically, my idea was to create an incentive and reward system that was financial and moral at the same time,
      rather than only one or the other. It was clear to me that if I could interrelate financial and moral rewards,
      I could positively influence human behavior in a significant way and help address some of the gross inequalities
      in our world that keep so many people from reaching their full potential.
      <br /><br />
      As I conceived it, there should be moral incentives and rewards that make you feel good about doing good for
      other people; in that way, you not only improve the lives of others, but also your own as well, in the process.
      <br /><br />
      I sold CaptivAds in 2000 in order to work more seriously on this plan, and it is just now coming into being.
      Soon you will be able to take part in it yourself!
      <br /><br />
      <img src="./images/car1.png" alt="" width="120" style=" float: left;margin: 0px; margin-right: 10px;" />
      But I was also interested in other projects that I had ideas about, like using solar energy to help the environment
      while building a sustainable, thriving food business of my own, rooted in new technology.
      <br /><br />
      <img src="./images/car2.png" alt="" width="120" />
      Since I was young, when my mother took me on my first bus ride, I have always loved to create designs for cars
      and buses. In 2007, I invented a solar-electric taxicab and promptly submitted the idea to Ford Motors.
      I suppose rather unsurprisingly, they declined. I realized later that big corporations are rarely receptive
      to new ideas from outsiders, no matter how promising they might be.
      <br /><br />
      In any case, a few years later, in 2010, I moved to Seattle, and there I conceived a two-part idea as a kind of
      “total reward” system with a business model that I could continue to build and revise in Seattle. It was the
      Emerald City that inspired me to realize this idea, since here, in the home of Microsoft, Amazon, and many other
      tremendously successful technology enterprises, creativity can truly become reality.
      <br /><br />
      I was already proficient in machine language coding as far back as my time in Montreal, and I used my skill set
      to build newer and more innovative computers than those which already existed at that time. My philosophy about
      all of this, as I proceeded, was that to become successful and prosperous is quite a bit easier than coming up
      with an idea that gives new opportunities to everyone.
      <br /><br />
      The latter is clearly far harder. Why? Because it requires many believers in the concept who will, in the end,
      be the very ones who bring it about.
      <br /><br />
      Now, you can look back at my life and all that I have done and accomplished, and you might well think,
      “How did Harry have so much energy to do all that?” Well, to tell you the truth, I didn’t have much energy
      when I was younger and in middle age. It is actually in older age that I have learned how to maintain my
      energy at its highest and most productive level!
      <br /><br />
      At my age today, I should actually be retired, but I have not stopped working, because the first time I considered
      doing that, I realized that my energy and stamina were actually better, even much better, than when I was 30.
      In my older age, I now know how to eat and how to take good care of myself so my body and mind can function at
      their highest levels. I know how to live my life, and I have a better opportunity to create positive change than
      ever before. It is no mystery, nor is it anything strange at all. It is just what happened to me when I decided
      that during my next 10 years I would give it a shot and would try to bring my dream into being. Granted, it’s a
      little late, but as everyone knows, almost nothing is ever really too late. There is always a way.
      <br /><br />
      I vowed to make these next ten years not a period of some slow fading of energy, but quite the opposite --
      a dream that would actually become reality. I invite you to read my books, which you can find through links
      on this website, so that you too can realize your own dreams through the methods I have learned, practiced,
      and implemented my whole life as a Chinese Hakka person. It is clear that the whole world is in trouble --
      big trouble -- right now. I can only hope that my ideas can make a difference, but with your help, I can not
      only hope, I can also get started on changing the world!
      <br /><br />
      Sincerely,<br />
      Harry Truong Mokm<br />
      December 15, 2020<br />
      Seattle, WA, USA
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>

