<h1 mat-dialog-title>{{this.data.title}}</h1>
<div mat-dialog-content>
  <div class="row-top" *ngIf="this.data.id==2">
    <img src="./images/book{{this.data.image}}" border="0" alt="" />
    <p>
      We all want to live lives that are happy. We all want to be healthy.
      We all want to be productive. Yet happiness seems elusive.
      Being healthy seems like a lot of work and our lives are busy enough as it is.
      And we are not as productive as we would like to be. How do we achieve this seemingly impossible goal?
      What are we to do? Luckily, it is not as complicated or hard as it seems.
      There is a simple and easy way to live a life that is healthy, happy, and productive.
      In this insightful book, Harry Mokm share his five simple steps to do this.
      It is called BETAS.
    </p>
    <p>
      It is Breathing-Eating-Thinking-Action-Sleeping.
      By making simple yet effective changes in these five areas
      we can live lives that are happy and healthy and yes, productive!
    </p>
    <p>
      Harry Mokm has lived all over the globe and has picked up wisdom wherever
      he has lived and this book is full of these global insights. For instance,
      eating healthy does not have to mean giving up pleasure. Healthy eating can actually be enjoyable.
      There are foods from across the globe from Japan to Greece that are good tasting and good for you.
    </p>
    <p>
      It is not hard. Harry shows just how simple and easy it actually is to live a happy,
      healthy, and productive life. By implementing these easy to implement changes
      we can achieve our goals and help create the better world we all would like to see.
    </p>
  </div>
  <div class="row-top" *ngIf="this.data.id==4">
    <img src="./images/book{{this.data.image}}" border="0" alt="" />
    <p>
      Capitalism. It has created unimaginable wealth. It has helped lift countless millions out of poverty.
      It has enabled people to live the lives of freedom and prosperity that they have dreamed of.
      This is what Adam Smith had envisioned when he wrote his groundbreaking book, The Wealth of Nations,
      back in 1776. Our founding fathers, including Thomas Jefferson, loved the book. In fact, Jefferson considered
      it the best book on economics ever written. Alexander Hamilton, the first Secretary of the Treasury,
      used Smith’s ideas when he founded the American economy.  The book was revolutionary for its time and
      now Smith’s ideas are now commonplace. Capitalism is perhaps the best economic system ever invented.
      Yet there are flaws.
    </p>
    <p>
      The system has been corrupted. There is a growing disparity in wealth as the gap between the rich and
      the poor continues to widen. The middle class is beginning to disappear. Big corporations and well-paid
      lobbyists are taking advantage of the system for their own exclusive benefit leaving the consumer to foot
      the bill. Our economy is becoming more and more unequal. We have won the Cold War but we are still under
      threat from a new mutated Communism, not from Europe, but from a more toxic and dangerous form in China which
      is a growing threat to the West.
    </p>
    <p>
      In essence, the issue with capitalism is the human factor. Adam Smith foresaw this and worried about it.
      Yet nothing has been done regarding this. If we are going to survive, then something needs to change.
      We need to reinvent our economic system and update capitalism, a version 2.0. In this insightful and
      groundbreaking work, entrepreneur Harry Mokm describes this new system he calls iCapitalism. In this system,
      the problems with capitalism are fixed by establishing control mechanisms which prevents corruption and people
      from taking advantage of the system and helps control the distribution of wealth so that it is both fair and equitable.
    </p>
    <p>
      For anyone interested in economics or history and for anyone who wants to see things change for the better,
      this book is a must read.
    </p>
  </div>
  <div class="row-top" *ngIf="this.data.id==5">
    <img src="./images/book{{this.data.image}}" border="0" alt="" />
    <p>
      First scene is in the election year 2024, when Steve Bannon runs for President of the USA and wins,
      running on a platform of virulent nationalism and quasi-dictatorship, worse than Trump. In the aftermath,
      Harry is gathering the remnants of the Andrew Wang campaign which included Universal Basic Income,
      the old Bernie Sanders supporters, Greens, Moderate Democrats, and even some libertarians around his vision.
      They are all at a convention to draft a new Democratic Party platform centered around a concept that has
      grown increasingly popular, “iCapitalism”.
    </p>
    <p>
      Second scene is a flashback that Harry has triggered by his attempt to explain how iCapitalism goes beyond
      the Cold War mentality of capitalism vs. communism. He flashes back to his first days following birth,
      when he was placed under a starfruit tree in Vietnam (starfruit can be a metaphor for iCapitalism in that
      the five “arms” of the starfruit can represent individuality and uniqueness, while the core of the starfruit
      represents the collective context that provides a basis from which individuality can be expressed in its highest
      capacities and greatest expression of merit (meritocracy). A narrator’s “voice” explains the whole context and
      lays the groundwork for the novel by comparing a series of conflicting factors, especially economic conflicts
      between Global Capitalism and Global Communism, between The East and The West, and once he arrives in North America,
      between Canada (social democracy with a welfare state) and the United States (casino capitalism, neoliberal capitalism, etc.).
    </p>
    <p>
      Third Scene is the wrapup for the introduction, where Harry explains the failure of communism, which was
      supposed to be a stateless, direct democracy according to Marx, yet ended up in mass murder and dictatorship
      of Stalin and Mao, for example, or the Khmer Rouge in Cambodia. At the same time, Western capitalism also
      resulted in dictatorship and mass murder, as in the Latin American Conquistadors, genocide of Native Americans,
      then later US-supported capitalism-oriented dictators like Pinochet and more recently “strongmen” like Bolsanaro
      in Brazil, finally, linking this all to Trump and Bannon, first a “strongman”, then an actual advocate of dictatorship.
      Here, mention French, Dutch, British, American, and Spanish version of dictatorship too.
    </p>
  </div>
  <div class="row-top" *ngIf="this.data.id != 2 && this.data.id != 4 && this.data.id != 5">
    <img src="./images/book{{this.data.image}}" border="0" alt="" />
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
      versions of Lorem Ipsum.
    </p>
    <p>
      It is a long established fact that a reader will be distracted by the readable content of a page
      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      distribution of letters, as opposed to using 'Content here, content here', making it look like
      readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
      their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
      their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
      on purpose (injected humour and the like).
    </p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
  <!--<button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button>-->
</div>
