#content {
  display: flex;
  margin: 0 -5px;
  padding: 0 5px;
}

.author {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  padding: 10px;
}

#pnlLeft {
  display: flex;
  flex-direction: column;
}
  #pnlLeft a {
      cursor:pointer;
  }

    #pnlLeft a.lnk {
      color: #b90900;
      text-align: center;
      cursor: pointer;
      font-size: 13px;
      font-weight: normal;
      margin-top: 0px;
    }

.author img {
  border-radius: 8px;
}

.author .text {
  color: #000;
  margin-left: 15px;
  line-height: 19px;
  font-size: 15px;
}

    .author .text a {
      float: right;
    }

h1 {
  text-align: left;
  color: #b91b0e;
  font-size: 20px;
}

.mat-dialog-actions {
  justify-content: center;
  margin-bottom: -5px;
}

.mat-button {
  background: #b91b0e;
  color: #fff;
}
